<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UpdateUser</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <style>
        select {
            width: 120px;
            height: 45px;
            padding: 2px;
            border-radius: 2px;
        }
        select option {
            padding: 2px;
        }
    </style>
</head>
<body>
<form th:action="@{/admin/edit/{id}(id=${user.getId()})}" th:method="POST" th:object="${user}">
    <label for="name">Enter name</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <br/>
    <label for="age">Enter age</label>
    <input type="text" th:field="*{age}" id="age">
    <br/>
    <label for="email">Enter email</label>
    <input type="text" th:field="*{email}" id="email">
    <br/>
    <label for="roles">Roles:</label>
    <select name="roles" id="roles" multiple>
        <option th:each="role : ${roles}" th:value="${role.getId()}" th:text="${role.getRole()}"></option>
    </select>
    <br/>
    <hr/>
    <input type="submit" value="Update"/>
</form>
<div style="position: absolute; top: 10px; right: 10px;">
    <form th:method="POST" th:action="@{/logout}">
        <input type="submit" value="Logout"/>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
        integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
        crossorigin="anonymous"></script>
</body>
</html>