<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="www.thymeleaf.org/extras/springsecurity" lang="en">
<head>
    <meta charset="UTF-8">
    <title>UserPage</title>
</head>
<body>
<p th:text="'Authentification: ' + ${role}">Role</p>
<p th:text="'ID: ' + ${user.getId()}">UserID</p>
<p th:text="'Name: ' + ${user.getName()}">UserName</p>
<p th:text="'Age: ' + ${user.getAge()}">UserAge</p>
<p th:text="'Email: ' + ${user.getEmail()}">UserEmail</p>

<!--<a th:href="@{/admin/edit/{id}(id=${user.getId()})}">Edit</a>-->
<p sec:authorize="hasRole('ADMIN')">
    <a th:href="@{/admin/edit/{id}(id=${user.getId()})}">Edit</a>
</p>

<!--<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/edit/{id}(id=${user.getId()})}">Edit</a>-->
<hr/>
<form sec:authorize="hasRole('ADMIN')" th:method="POST" th:action="@{/admin/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>
<!--<sec:authorize access="hasRole('ADMIN')">-->
<!--    <input type="submit" value="Delete"/>-->
<!--</sec:authorize>-->

</body>
</html>